postOrder:
    pickupAddressLabel: 'Felvételi cím'
    pickupAddressRequired: 'Tudnunk kell, hogy hol vesszük fel'
    pickupAddressPlaceholder: 'például: Petőfi Sándor utca 1., 1052 Budapest'
    addressLabel: 'Cím, ahova visszük'
    addressRequired: 'Tudnunk kell, hogy hova megyünk'
    addressPlaceholder: 'például: Pannónia utca 48., 1136 Budapest'
    phoneLabel: 'Annak a telefonszáma akinek visszük'
    phonePlaceholder: 'például: 0630 931 2345'
    noteLabel: 'megjegyzés a vásárláshoz (pl. kinek visszük, a könnyebb megkülönböztetés érdekében)'
    notePlaceholder: 'Kovács néni részére'
    itemsLabel: 'Megrendelés tételei (ENTERrel elválasztva)'
    button: 'A rendelés feladása a rendszerbe'
    courierNote: 'A futár megjegyzése'
    buttonCourierNote: 'Megjegyzés hozzáadása'
    addressPick: 'Felvételi cím'
registerCoordinator:
    nameLabel: 'Vezetéknév és keresztnév'
    role: 'Beosztás'
    nameRequired: 'Szükségünk van a nevére'
    phoneLabel: 'Telefon'
    phoneRequired: 'Szükségünk van a telefonszámára, hogy fel tudjuk hívni'
    mailLabel: 'E-mail'
    mailRequired: 'Szükségünk van az e-mail címére a regisztrációhoz'
    townLabel: 'Város megjelőlése, ahol segíteni szeretnék'
    townRequired: 'Tudnunk kell, hogy hol fog segíteni'
    button: 'Regisztráció'
    carLabel: 'Mivel fogok kézbesíteni'
    carRequired: 'Tudunk kell, hogy mit bír el'
cars:
    small: 'kisebb városi autó (Škoda Citigo, VW eUP, Toyota Aygo)'
    big: 'nagyobb városi autó (Škoda Octavia, VW Passat, Ford Mondeo)'
    smallTruck: 'kis teherautó (VW Caddy, Fiat Doblo)'
    bigTruck: 'nagyobb teherautó (Fiat Ducato, Mercedes Sprinter)'
    bike: 'bicikli'
    motorcycle: 'motorkerékpár'
    walk: 'gyalog'
changePassword:
    newPasswordLabel: 'Új jelszó'
    newPasswordRequired: 'Adjon meg új jelszót'
    title: 'Jelszó beállítása'
sign:
    lostPassword: 'Elfelejtett jelszó'