header:
    subtitle: 'segítsünk egymásnak'
    title: 'Segitaszomszed.hu - segítsünk egymásnak'
    metaDescription: 'A Segitaszomszed.hu azért jött létre, hogy azokhoz juttasunk el élelmiszert és gyógyszereket az önkénteseinkkel, akik a leginkább veszélyeztetettek a koronavírus által.'
    shortTitle: 'Segitaszomszed.hu'
    about: 'A Segitaszomszed.hu olyan weboldal, amely önkéntesek megszervezésével olyan embereknek segít, akik nem tudnak vagy nem mehetnek bevásárolni.'
    progress: 'Olyan fázisban vagyunk, hogy <strong>regisztrálhat</strong> és a mai / holnapi nap folyamán befejezzük az operátorok/diszpécserek és a futárok részére szóló részt, amit hamarosan elindítunk.'
    recommendation: 'Ha van lehetősége online rendelni ételt házhozszállítással, például a <a href="https://kifli.hu" target="_blank">Kifli.hu</a>, <a href="https://bevasarlas.tesco.hu/groceries/" target="_blank">Tesco.hu</a>, vagy az <a href="https://online.auchan.hu" target="_blank">Auchan.hu</a> oldalakon, akkor <strong>kérem tegye meg</strong> - a mi célünk nem ezen cégek kiváltása, hanem önkéntes alapon időlegesen segíteni azoknak ahová ezek a cégek nem szállítanak.'
    backOnMainPage: 'Vissza a főoldalra'
    keyWords: 'segít a szomszéd, önkéntesek, idősek, segítség az időseknek'
    imgAlt: 'Segít a szomszéd'
    overview: 'Áttekintés'
    postDemand: 'Segítségre van szükségem'
    login: 'Bejelentkezés'
    registration: 'Regisztráció'
    logout: 'Kijelentkezés'
    mainTitle: 'A Segitaszomszed.hu azért jött létre, hogy azokhoz juttasunk el élelmiszert és gyógyszereket az önkénteseinkkel, akik a leginkább veszélyeztetettek a koronavírus által.'
    mainSubtitle: 'Elsősorban azokról az idős vagy beteg emberekről van szó, akiknek a következő hetekben egyáltalán nem szabad elhagyni a lakóhelyüket.'
    towns: 'Városok és községek részére'
footer:
    disclaimer: 'Kérdéseit a <a href="mailto:info@segitaszomszed.hu" target="_blank">info@segitaszomszed.hu</a> e-mailcímre küldje.'
    thankYou: 'Köszönjük mindenkinek, aki csatlakozik hozzánk!'
    questions: 'Kérdéseit a <a href="mailto:info@segitaszomszed.hu" target="_blank">info@segitaszomszed.hu</a> e-mailcímre küldje.'
homepage:
    login: 'Bejelentkezés'
    register: 'Regisztráció'
    dashboard: 'Irányítópult'
    logout: 'Kijelentkezés'
    howToHelp: 'Mit tehetek a szomszédaimért, akik nem tudnak elmenni bevásárolni?'
    howToHelpDescription: 'Tekintettel a Magyarországon kihirdetett <a href="https://koronavirus.gov.hu" target="_blank">veszélyhelyzetre</a>, úgy döntöttünk, hogy létrehozunk egy egyszerű weboldalt, amely megszervezi azokat az önkéntesket akik szeretnének segíteni.'
    info: 'Minden ezzel a weboldallal kapcsolatos tevékenység (a kiszállítástól az oldal fejlesztéséig) INGYENESEN történik.'
    notif: '<p>Maszkra van szüksége,<br />vagy, arra, hogy élelmiszert, gyógyszereket szerezzen be, esetleg<br />más segítségre van szüksége, de nem hagyhatja el otthonát?<br /></p><h2>800 88 55 99</h2><p>Írjon a <a href="mailto:segitseg@segitaszomszed.hu" target="_blank">segitseg@segitaszomszed.hu</a> emailcímre</p>'
    howItWork: 'Hogyan működik?'
    registerOnPosition: 'Regisztráljon a kiválasztott pozícióra.'
    connectToVolunteers: 'Kapcsolattartás az önkéntesekkel'
    getAccess: 'Hozzáférést biztosítunk az alkalmazásunkhoz, amely összeköti Önt a városában élő többi önkéntessel.'
    coordination: 'Koordináció'
    coordinationDescription: 'Az alkalmazásban közösen fogják koordinálni az összes szükséges lépést a vásárlástól a kiszállításig.'
    howCanIJoin: 'Hogyan csatlakozhatok?'
coordinator:
    title: 'Koordinátor'
    whatNeedTitle: 'Mivel kell rendelkeznie:'
    whatNeedList: '<li>Számítógép</li><li>Telefon</li><li>Szervezőkézség</li>'
    howHelpTitle: 'Hogyan segít:'
    howHelpList: '<li>Felkeresi azokat, akiknek segítségre van szükségük a vásárláshoz.</li><li>Velük közösen létrehozza a bevásárlólistát.</li><li>Felviszi a bevásárlólistát a rendszerbe.</li>'
    subtitle: 'gondoskodik róla, hogy minden gördülékenyen menjen és kommunikál a diszpécserrel'
    wannaJoin: 'Koordinátor szeretnék lenni'
    steps: '<strong>Koordinátorként</strong> meg kell találnod: <ul> <li> azokat, akiknek otthon kell maradniuk, vagy nem tudunak elmenni bevásárolni </li> <li> azokat, akiknek van autójuk, jogosítványuk és van kedvük segíteni </li> <li> azokat, akiknek van idejük, telefonjuk és kedvük megszervezni a vásárlást és a kiszállítást </li> </ul>'
    whatYouNeed: '<h3>Mire lesz szükséged</h3><ul><li>Laptop vagy okostelefon</li><li>Telefon</li><li>Szervezőkészség</li></ul>'
    whatIsYourGoal: '<h3>Mi a feladatod</h3><ul><li>Szólítsd meg őket (elsősorban telefonon)</li><li>Készítsd el a bevásárlólistát és várj az diszpécser utasításaira</li></ul>'
    callToActionButton: 'Koordinátornak jelentkezem'
operator:
    title: 'Diszpécser'
    subtitle: 'a megrendeléseket futárokhoz rendeli és felügyeli, hogy időben odaérjenek'
    wannaJoin: 'Diszpécser szeretnék lenni'
    steps: '<strong>Diszpécserként</strong> meg kell találnod: <ul> <li> azokat, akiknek otthon kell maradniuk, vagy nem tudunak elmenni bevásárolni </li> <li> lidi kteří mají auto, mají řidičák a chuť pomáhat </li> <li> lidi kteří mají čas, telefon a chuť organizovat proces nákupu a jeho doručení </li> </ul>'
    whatYouNeed: '<h3>Co potřebuješ</h3><ul><li>Notebook</li><li>Smartphone</li><li>Telefon</li><li>Organizační schopnosti</li></ul>'
    whatNeedTitle: 'Co musí mít:'
    whatNeedList: '<li>Počítač</li><li>Telefon</li><li>Trpělivost</li>'
    howHelp: 'Jak pomáhá:'
    howHelpList: '<li>Sleduje pohyb a dostupnost kurýrů v dané lokalitě.</li><li>Přiděluje nákupy kurýrům a dohlíží na jejich doručení.</li>'
    whatIsYourGoal: '<h3>Jaký je tvůj ůkol</h3><ul><li>V systému vidíš seznam kurýrů kteří jsou v tvé lokalitě dostupní</li><li>Zároveň vidíš kolik kurýrů má momentálně volno</li><li>Tvůj úkol je dohodnout se s kurýrem kolik toho uveze a zařídit aby nákup doručil</li></ul>'
    callToActionButton: 'Chci být dispečerem'
courier:
    title: 'Kurýr'
    subtitle: 's autem, který nakupuje a doručuje potřebným'
    wannaJoin: 'Chci se stát kurýrem'
    steps: 'Jako <strong>operátor</strong> bys měl najít:<ul> <li> Přiřadit objednávky zadané koordinátorem na jednoho z volných kurýrů </li> <li> Dohlédnout na to aby doručení proběhlo (včasné doručení) </li> <li> Pomáhat řešit problémy které vzniknou po cestě </li> </ul>'
    whatYouNeed: '<h3>Co potřebuješ</h3><ul><li>Telefon</li><li>Auto</li></ul>'
    whatIsYourGoal: '<h3>Jaký je tvůj ůkol</h3><ul><li>Vezmi svoje auto, počkej na objednávku od operátora a vyraž na nákup</li><li>Doruč nákup na místo určení a zajisti <strong>bezpečné</strong> předání</li></ul>'
    callToActionButton: 'Chci být kurýr'
    whatNeedTitle: 'Co musí mít:'
    whatNeedList: '<li>Auto nebo kolo</li><li>Telefon</li>'
    howHelpTitle: 'Jak pomáhá:'
    howHelpList: '<li>Nakupuje podle nákupních seznamů.</li><li>Rozváží nákupy těm, kteří je potřebují.</li><li>Doručuje je tak, aby minimalizoval riziko nákazy.</li>'
registrationFinished:
    thanksTitle: 'Děkujeme za váš zájem'
    thanksDescription: 'V některých lokalitách máme spoustu zájemců a musíme počty jednotlivých dobrovolníků vybalancovat. Počkejte prosím na aktivaci vašeho účtu - dozvíte se o ní tak, že vám přijde e-mail s přihlašovacími údaji.'
operatorDashboard:
    title: 'Operátor / Dispečer'
    promoteTitle: 'Propagace'
    materialShopping: 'Vytisknout materiál - Zařídím vám nákup'
    materialCourier: 'Vytisknout materiál - Hledám řidiče'
    materialCoordinator: 'Vytisknout materiál - Hledám operátora'
courierDashboard:
    title: 'Přehled kurýra'
    subtitle: 'Příjem objednávek'
    readyToWork: 'ZAPNOUT - Jsem připraven k práci'
    tooBusy: 'VYPNOUT - Už nemohu přijímat další objednávky'
    waitingOrders: 'Objednávky které čekají na přiřazení'
    noOrdersYet: 'Zatím žádné objednávky k doručení'
    yourOrders: 'Objednávky které ti byly přiřazeny'
    noYourOrders: 'Momentálně nemáš žádné objednávky k doručení.'
    reload: 'Obnovit'
    edit: 'Přidat poznámku'
    status: 'Oznámit stav'
    picking: 'Vyzvedávám'
    delivering: 'Doručuji'
    delivered: 'Předáno'
    finished: 'Doručeno'
coordinatorDashboard:
    title: 'Pečovatel / koordinátor'
    orders: 'Objednávky'
    makeOrder: 'Vytvořit novou objednávku'
    listOrders: 'Seznam objednávek'
    id: 'ID'
    pickupAddress: 'Adresa k vyzvednutí'
    address: 'Doručovací adresa'
    items: 'Položky obj'
    note: 'Poznámka'
    action: 'Akce'
    detail: 'Detail'
    noOrdersYet: 'Zatím nebyly zadány žádné objednávky.'
    promote: 'Propagace'
orderDetail:
    title: 'Detail objednávky'
    noCourier: 'Kurýr nebyl přiřazen'
    whoDelivers: 'Kdo veze'
    whoAssigned: 'Kdo přiřadil'
    lastUpdate: 'Datum poslední změny'
    created: 'Datum vytvoření'
    note: 'Poznámka k obj.'
    items: 'Položky objednávky'
    address: 'Adresa doručení'
    status: 'Stav obj.'
    id: 'ID obj.'
    back: 'Zpět na seznam obj.'
    makeOrder: 'Vytvořit objednávku'
printMaterial:
    title: 'SousedskaPomoc.cz'
    subtitle: 'Stal/a jsem se součástí komunitního projektu SousedskaPomoc.cz a jsem připraven/a vám pomoci'
    question: 'Potřebujete nakoupit ale nemůžete opustit byt?'
    callToAction: 'Pokud chcete něco zařídit stačí zavolat!'
    contact: 'Jméno a příjmení:'
    phone: 'Telefon:'
    town: 'Město:'
    needHelpCourier: 'Potřebujeme kurýra/dobrovolníka'
    courierTask: 'Jaký je tvůj ůkol'
    courierTaskList: '<ul><li>Vezmi svoje auto, počkej na objednávku od operátora a vyraž na nákup</li><li>Doruč nákup na místo určení a zajisti bezpečné předán</li></ul>'
    courierNeed: 'Co potřebuješ'
    courierNeedList: '<ul><li>Telefon</li><li>Auto</li></ul>'
    courierWannaJoin: 'Pokud se chceš přidat stačí zavolat!'
    operatorWanted: 'Potřebujeme operátora'
    operatorTask: 'Jako <strong>operátor</strong> bys měl najít:'
    operatorTaskList: '<ul><li>Přiřadit objednávky zadané koordinátorem na jednoho z volných kurýrů</li><li>Dohlédnout na to aby doručení proběhlo (včasné doručení)</li><li>Pomáhat řešit problémy které vzniknou po cestě</li></ul>'
    operatorNeed: 'Co potřebuješ'
    operatorNeedList: '<ul><li>Notebook</li><li>Smartphone</li><li>Telefon</li><li>Organizační schopnosti</li></ul>'
    operatorWannaJoin: 'Pokud se chceš přidat stačí zavolat!'
    meteDescription: 'webová stránka sloužící k organizaci dobrovolníků pro doručování zboží lidem, kteří si na nákup nemohou nebo nesmějí dojít.'
dashboard:
    title: 'Sekce pro přihlášené'
    coordinatorSection: 'Přejít do sekce pro koordinátory'
    coordinator: 'Koordinátor'
    operatorSection: 'Přejít do sekce pro operátory'
    operator: 'Operátor'
    courierSection: 'Přejít do sekce pro kurýry'
    courier: 'Kurýr'
    actualStatistics: 'Aktuální statistiky'
order:
    title: 'Přiřazení objednávek'
    header: '<th>Objednávky k přiřazení</th><th>Objednávky které se doručují</th><th>Objednávky které jsou doručené</th>'
    picking: 'Kurýr vyzvedává'
    delivering: 'Kurýr doručuje'
    delivered: 'Kurýr doručil'
    statusNew: 'Nová'
    statusAssigned: 'Přiřazená'
    statusPicking: 'Kurýr vyzvedává'
    statusDelivering: 'Kurýr doručuje'
    statusDelivered: 'Kurýr doručil'
seamstress:
    wannaJoin: 'Chci se stát švadlenou'
    title: 'Švadlena'
    subtitleHome: 'šije roušky a připravuje je k odběru'
    subtitle: 'Aktuální akce'
    itemsLabel: 'Počet roušek'
    button: 'Poslat žádost o vyzvednutí'
    makeOrder: 'Požádat o vyzvednutí roušek'
    orders: 'Dodávky'
    address: 'Adresa'
    items: 'Počet roušek'
    noOrdersYet: 'Zatím žádné dodávky'
    readyToWork: 'Jsem připraven/a šít roušky'
    tooBusy: 'Již nebudu šít roušky'
    whatNeedTitle: 'Co musí mít:'
    whatNeedList: '<li>Šikovné ruce</li><li>Šicí stroj, látky, gumičky</li><li>Telefon</li>'
    howHelpTitle: 'Jak pomáhá:'
    howHelpList: '<li>Šije látkové roušky.</li><li>Shromažďuje je a připravuje kurýrům kodběru.</li>'
    callToActionButton: 'Chci být švadlenou'
profile:
    title: 'Můj profil'
    enterTown: 'Změnit adresu kde rozvážím'
    success: 'Profil byl úspěšně upraven. Změna pozic se projeví po opětovném přihlášení.'
    fail: 'Tento e-mail je již použit jiným uživatelem'
    edit: 'Upravit profil'
    button: 'Uložit'
headquarters:
	title: 'Velín'
